.cart_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: none;
  border: none;
}

.icon_cart {
  cursor: pointer;
}

.quantity {
  position: absolute;
  z-index: 4;
  top: 65%;
  right: 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: 12px;
  border-radius: 50%;
  color: var(--txt-color-primary);
  background-color: var(--txt-color-quaternary);
  cursor: pointer;
}

@media (max-width: 480px) {
  .icon_cart {
    width: 30px;
    height: auto;
  }
}
