.input {
  background-color: var(--bg-input);
  color: var(--txt-color-primary);
  padding: 10px;
  outline: none;
}

.input::placeholder {
  color: var(--txt-color-tertiary);
  font-style: italic;
}

.input.full {
  width: 100%;
}
