.sale_card {
  background: linear-gradient(180deg, #19587b 0%, #2887ae 100%);
  width: 250px;
}

.image {
  width: 250px;
  height: 300px;
}

.info {
  padding: 20px;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
