@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --bg-header: #181a21;
  --bg-input: #316282;
  --bg-price-card: #344654;
  --bg-discount: #4c6b22;
  --bg-button: #549300;
  --bg-button-hover: #518f00;
  --bg-game-card: #2983aa;
  --bg-cart-menu: #364a63;
  --txt-fullprice: #a8a8a8;
  --txt-color-primary: #ffffff;
  --txt-color-secundary: #beeb14;
  --txt-color-tertiary: #c7c7c7;
  --txt-color-quaternary: #f00f00;
}

body {
  background-color: #1b2838;
  color: var(--txt-color-primary);
  font-family: "Inter", sans-serif;
}
